# Project settings
.idea/
*.iml

# Benchmarks
/benchmarks/

# Tools settings
.eslintignore
.eslintrc.json
.gitignore
.travis.yml
babel.config.json
gulpfile.js

# npm packages
node_modules/

# Test files
/test/
